
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>
<div>
    <b>PessoaId</b>
</div>
<div>
    @ViewData["PessoaId"]
</div>
<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["Nome"]
</div>
<div>
    <b>Tipo</b>
</div>
<div>
    @ViewData["Tipo"]
</div>

<br />

<a href="~/">Voltar</a>

